@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #170202;    
    padding: 2em;
    margin: 0;
}


:root {
    --navbar-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header.shadow {
    box-shadow: var(--navbar-shadow);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #170202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* box-shadow: 10px 10px 20px rgba(60, 6, 6, 0.6); Adjust the values for the shadow */

}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    text-align: center;
    justify-content: space-between; /* Ensure columns are spaced evenly */
    
}

.navbar a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;

    
}

.navbar a:hover,
.navbar a.active {
    color: #a50a0a;
}

.container_home{
    display: flex;
    height: 500px;
}

.left-column{
    flex: 1;
    height: 100vh;
    background-color:#170202;
    padding-top: 200px;
    padding-left: 4%;
    text-align: center;
}
.right-column{
    flex: 1; 
    height: 100vh;
    background-color:#170202;
    overflow-y: auto;
    padding-top: 200px;
    padding-left: 4%;
    padding-right: 3%;
}



.name{
    font-weight: 600;
    color: #caa6a6;
    font-size: 38px;
}

.skinny{
    font-weight: 300;
    color: #C0C0C0;
    font-size: larger;
}


.home-logo{
    width: 150px;
    max-width: 100%;
}

.mini-link{
    fill: #C0C0C0;
    display: inline-block;
}
.link{
    display: inline-block;
}


.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0, 0, 0.01);
}
.text-box{
    padding: 20px 30px;
    background: #caa6a6;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left:0;
}
.right-container{
    left:50%;
}
.container img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    right: -50px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -50px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 0px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #caa6a6;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #caa6a6;
    left: -15px;
}



@media screen and (max-width: 900px) {
    .container_home{        
        flex-direction: column;
    }    
    .right-column{
        overflow-y: initial;
    }
    .timeline{        
        margin: 100px auto;
    }    
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }
    .left-container img, .right-container img{
        left: -20px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #caa6a6;
        border-left: 0;
        left: -15px;
    }
}

.card{
    color: black;
    background-color: #caa6a6;
    width: 1000px;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8; 
}

.body-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    gap: 50px;
}

#ch{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}

#ch2{
    display: none;
}

#ch2:checked ~ .content{
    display: block;
}
#ch2:checked ~ label{
    display: none;
}

label{
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: #a50a0a;
    padding: 3px 13px;
    border-radius: 7px;
    margin-top: 12px;
}

.content{
    display: none;
}

.card h2{
    display: inline;
}