@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #170202;    
    padding: 2em;
    margin: 0;
}

:root {
    --navbar-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header.shadow {
    box-shadow: var(--navbar-shadow);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #170202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* box-shadow: 10px 10px 20px rgba(60, 6, 6, 0.6); Adjust the values for the shadow */

}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    text-align: center;
    justify-content: space-between; /* Ensure columns are spaced evenly */
    
}

.navbar a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;

    
}

.navbar a:hover,
.navbar a.active {
    color: #a50a0a;
}

.container{
    display: flex;
    height: 500px;
}

.left-column{
    flex: 1;
    height: 100vh;
    background-color:#170202;
    padding-top: 200px;
    padding-left: 4%;
    text-align: center;
}
.right-column{
    flex: 1; 
    height: 100vh;
    background-color:#170202;
    overflow-y: auto;
    padding-top: 200px;
    padding-left: 4%;
    padding-right: 3%;
}


@media screen and (max-width: 768px) {
    .container{        
        flex-direction: column;
    }    
    .right-column{
        overflow-y: initial;
    }
}

@media screen and (max-width: 1150px) {
    .timeline{
        width: 80vw;
    }
    .checkpoint:nth-child(odd),
    .checkpoint:nth-child(even){
        border-left: 3px solid #883;
        padding-left: 3em;
        margin-left: 5px;
        position: absolute;
        left: 0;
        right: 0;
        
    }
}

.name{
    font-weight: 600;
    color: #caa6a6;
    font-size: 38px;
}

.skinny{
    font-weight: 300;
    color: #C0C0C0;
    font-size: larger;
}


.home-logo{
    width: 150px;
    max-width: 100%;
}

.mini-link{
    fill: #C0C0C0;
    display: inline-block;
}

.timeline{
    margin: 5em auto;
    max-width: 34.15em;
    color: #C0C0C0;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}
.checkpoint div{
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
}
.checkpoint p{
    line-height: 27px;
    color: #ccc;
}
.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(50%);
}
.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-49.4%);
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}
.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}
.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}
